/* header */
.header {
    text-align: center;
    padding: 20px 0;
  }

body {
    background-color: rgb(36, 177, 158);
background-image: url(./images/code_background.jpeg);}

.footer {text-align: center;}
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  .subtitle {
    font-size: 24px;
    color: #555;
  }
  
  .nav {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-item {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .nav-item:hover {
    color: #333;
    text-decoration: underline;
  }
  
  /* sections */
  .section {
    padding: 50px 0;
  }
  
  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .section-description {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
  }
  
  /* skills section */
  .skills-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .skills-item {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
  }
  
  /* experience section */
  .experience-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .experience-item {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
  }
  
  /* projects section */
  .projects-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .projects-item {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
  }
  
  /* testimonials section */
  .testimonials-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .testimonials-item {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
  }
  
  /* contact section */
  .contact-form {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-input {
    width: 50%;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    margin-top: 20px;
  }
  
  .form-submit {
    width: 20%;
    height: 40px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #333;
    margin-top: auto}  
